@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kanit";
  src: url("./Kanit-Light.ttf");
}

* {
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
  padding: 0;  
}

.text-gray-100 {
  color: #f3f4f6;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}