@tailwind base;
@tailwind components;
@tailwind utilities;
  
.ant-descriptions {
  width: auto;
}
 
.ant-descriptions-item-content {
  white-space: pre-wrap;
}

.chart-container {
  height: 160px;
  width: 100%;
}

@media (max-width: 640px) {
  .chart-container {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .chart-container {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .chart-container {
    height: 400px;
    width: 100%;
  }
}

@media (max-width: 768px) { 
  .ant-descriptions {
    width: 100%;
  }
}

.mapboxgl-canvas-container {
  cursor: pointer;
}

.rcw-launcher {
  @apply flex m-0 items-center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  @apply m-0 flex flex-col h-screen;
}

.ant-collapse-content-box {
  display: flex;
  flex-direction: column;
}

.ant-collapse-content-box .ant-collapse-content {
  width: 100%;
}

.navbar-logo {
  width: 55px;
}

.shadow-34 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.shadow-46 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.shadow-66 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.ant-divider-horizontal {
  border-top: 2px solid #e8e8e8;
  margin: 32px 0;
  width: 100%;
}

.space-top {
  @apply pt-36;
}

.carousel--image {
  /* margin-top: -15px; */
  @apply w-full;
}

.carousel--image .img {
  max-height: 680px;
  @apply object-cover object-top bg-no-repeat;
}

.menu--bar {
  @apply w-full sticky top-0 left-0 z-50 shadow-lg px-56 bg-white bg-opacity-90;
}

.menu--container {
  @apply items-center justify-between py-8 flex md:px-10 backdrop-filter backdrop-blur-md;
}

.menu--left {
  @apply font-bold cursor-pointer flex items-center text-gray-800;
}

.menu--left .navbar-logo {
  @apply w-20 px-4;
}

.menu--left .text {
  @apply items-center text-3xl text-indigo-600;
}

.barsMenu {
  @apply hidden float-right;
}

.ant-drawer-body {
  @apply p-0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  @apply w-full inline-block;
}
.ant-drawer-body .ant-menu-horizontal {
  @apply border-none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  @apply border-transparent;
}

.navbar {
  @apply flex flex-col p-4 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white bg-transparent;
}

@media (max-width: 1539px) {
  .menu--bar {
    @apply px-2;
  }
}

@media (max-width: 992px) {
  .menu--bar {
    @apply px-2;
  }

  .barsMenu {
    @apply inline-flex;
  }
  .rightMenu {
    @apply hidden;
  }
}

@media (max-width: 767px) {
  .menu--left .text {
    @apply items-center text-2xl text-indigo-600;
  }

  .menu--container {
    @apply py-4;
  }

  .carousel--image .img {
    height: 100%;
    @apply bg-top;
  }

  .space-top {
    @apply pt-28;
  }
}

img.ant-image-preview-img {
  display: inline-block;
}

.form-photo {
  @apply xl:py-12 xl:px-8 md:py-8 md:px-4 py-4 px-2;
}

/* secret layout */
.appSecret {
  @apply h-screen flex flex-col;
}

.hover-card {
  @apply hover:shadow-xl hover:transform hover:scale-105 duration-300;
}
